@import "font-icons.scss";

button:focus, a:focus {outline:0;}
ul {list-style-type: none;}

.sideNav {
  background-color: green;
}

.content {
  background-color: blue;
}

.md-icon.tiny { min-width: 0; min-height: 0; width: 12px; height: 12px; }
.md-icon.xs-small { min-width: 0; min-height: 0; width: 16px; height: 16px; }
.md-icon.small { min-width: 0; min-height: 0; width: 18px; height: 18px; }
.md-icon.normal { min-width: 0; min-height: 0; width: 24px; height: 24px; }
.md-icon.large { min-width: 0; min-height: 0; width: 38px; height: 36px; }
.md-icon.x-large { min-width: 0; min-height: 0; width: 48px; height: 48px; }

.md-icon.md-dark { color: rgba(0, 0, 0, 0.54); }
.md-icon.md-dark .md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.md-icon.md-light { color: rgba(255, 255, 255, 1); }
.md-icon.md-light .md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons.md-12 { font-size: 12px; }
.material-icons.md-16 { font-size: 16px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark .md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light .md-inactive { color: rgba(255, 255, 255, 0.3); }

.toolSideNav {
}

.md-sidenav-left.md-closed, .md-sidenav.md-closed {
  transform: translate3d(0%, 0, 0) !important;
  width: 50px !important;
  display: block !important;
  //background-color: #484848;
  background-color: white;
}

.md-locked-open {
  /*background-color: #7d7d7d;*/
  /*background-color: white;*/
  width: 200px !important;
  margin-right: 7px;
  box-shadow: 3px 2px 4px 1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12) !important;
}

